.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffffa9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  width: 100%;
  height: 60px; /* Tinggi navbar */
  z-index: 1000; 
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.navbar-brand h1 {
  font-size: 20px;
  font-weight: 600;
  color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #202020;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover {
  color: #007BFF;
  transform: scale(1.1);
}

.navbar-icon {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar-icon:hover {
  color: #007BFF;
  transform: scale(1.1);
}

.navbar-left i {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.navbar-right .navbar-button {
  margin-left: 10px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Responsivitas */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  .navbar-brand h1 {
    font-size: 18px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px 10px;
  }

  .navbar-brand h1 {
    font-size: 16px;
  }

  .logo {
    width: 40px;
  }

  .navbar-links a {
    font-size: 14px;
  }

  .navbar-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
